<div class="catalog">
  <div class="style_picture">
    <ul>
     <li><img src="/assets/1A.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/4A.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/5A.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/19A.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/20A.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/21A.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/37B.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/135501 502-B.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/136593 592.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/136595 594.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/136597 596.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/136599 598.jpg"  alt="コーディネート写真"></li>
     <li><img src="/assets/136799 798 & 135201 202 & 136199 198.jpg" " alt="コーディネート写真"></li>
     <li><img src="/assets/34A.jpg" alt="コーディネート写真"></li>
     <li><img src="/assets/35B.jpg"  alt="コーディネート写真"></li>
     <img src="/assets/36A.jpg"  alt="コーディネート写真">
     <img src="/assets/24A.jpg"  alt="コーディネート写真">
     <img src="/assets/25A.jpg"  alt="コーディネート写真">
     <img src="/assets/26A.jpg"  alt="コーディネート写真">
     <img src="/assets/28A.jpg"  alt="コーディネート写真">
     <img src="/assets/22A.jpg" alt="コーディネート写真">
   </div>
  </ul>
 </div>
