
<div class="catalog">
  <div class="style_picture">
    <section class="gallery">
     <ul>
       <li><img src="/assets/1A.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/4A.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/5A.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/19A.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/20A.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/21A.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/37B.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/135501 502-B.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/136593 592.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/136595 594.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/136597 596.jpg" width="220" height="220" alt="コーディネート写真"></li>
       <li><img src="/assets/136599 598.jpg" width="220" height="220" alt="コーディネート写真"></li>
     </ul>
   </section>
   </div>
 </div>
