<div class="closet_contents">
  <div class="closet_description">
    <div class="closet_title">

    </div>
    <div class="closet_sentence">

    </div>
  </div>

  <div class="closet_imgs">
    
  </div>
</div>
