<div class="closet_contents">
  <div class="closet_description">
    <div class="closet_title">

    </div>
    <div class="closet_sentence">

    </div>
  </div>
<div class="background_image">
  <div class="closet_imgs clearfix">
    <ul>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1B.jpg" alt=""></li>
      <li><img src="/assets/4A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
      <li><img src="/assets/1A.jpg" alt=""></li>
    </ul>
  </div>
</div>
</div>
