<div class="closet_contents">
  <div class="closet_description">
    <div class="closet_title">

    </div>
    <div class="closet_sentence">

    </div>
  </div>
<div class="background_image">
  <div class="closet_imgs clearfix">
    <ul>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
      <li><img src="/assets/tyeki_image.png" alt=""></li>
    </ul>
  </div>
</div>
</div>
