
<!-- トップページのコンテンツ -->
<div class="contents">



  <div id="image-bloc">
    <div class="main-container">
      <ul class="slider">
    		<li class="slide"><img src="/assets/0913.jpg" width="1170" height="781" alt=""></li>
    		<li class="slide"><img src="/assets/0431.jpg" width="1170" height="781" alt=""></li>
    		<li class="slide"><img src="/assets/0848.jpg" width="1170" height="781" alt=""></li>
        <li class="slide"><img src="/assets/0410.jpg" width="1170" height="781" alt=""></li>
        <li class="slide"><img src="/assets/1040.jpg" width="1170" height="781" alt=""></li>
  	  </ul>
    </div>
  </div>


<div class="about">
  <div class="about_content">
  <div class="about_title">
    <h1>PenGuinBabyとは？</h1>
  </div>
  <div class="about_sentence">
    <p>「子供の成長が早く、お気に入りの子供服のサイズがすぐに合わなくなってしまった。」という経験をされたことはないでしょうか？</p>
<p>PenGuinBabyでは、<br>子供服のファッションレンタルサービスを通して多くの方々に成長の問題を気にせず、子供のオシャレを楽しんでもらいたいと考えております。</p>
洋服選びで、「子供の成長」はもう問題ではありません。<br>
ファションレンタルで子供とオシャレを楽しもう。
</p>
  </div>
</div>
</div>

<div class="strength">
  <div class="strength_content">
    <div class="strength_title">
      <h1>PenGuinBabyのこだわり</h1>
    </div>
    <div class="strength_sentence">
        <div class="strength_sentence_img clearfix">
          <ul>
            <li class="">
              <a href="">
                <div class="">
                  <img src="/assets/aoi_miyazaki.png" width="250" height="250" alt="">
                </div>
                <div class="strength_sentence_number">
                  1.
                </div>
              <div class="strength_sentence_text">
                芦田愛菜だよ
              </div>
            </a>
            </li>
            <li class="">
              <a href="">
                <div class="">
                  <img src="/assets/aoi_miyazaki.png" width="250" height="250" alt="">
                </div>
                <div class="strength_sentence_number">
                  2.
                </div>
              <div class="strength_sentence_text">
                芦田愛菜だよ
              </div>
            </a>
            </li>

            <li class="">
              <a href="">
                <div class="">
                  <img src="/assets/aoi_miyazaki.png" width="250" height="250" alt="">
                </div>
                <div class="strength_sentence_number">
                  3.
                </div>
                <div class="strength_sentence_text">
                  芦田愛菜だよ
                </div>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>

  <div class="how_to">
    <div class="how_to_content">
    <div class="how_to_title">
      <h1>ご利用の手順</h1>
    </div>
    <div class="how_to_list">
        <div class="how_to_list_img clearfix">
          <ul>
            <li class="">
                <div class="">
                  <img src="/assets/aoi_miyazaki.png" width="250" height="250" alt="">
                </div>
                <div class="how_to_list_number">
                  1.
                </div>
              <div class="how_to_list_text">
                芦田愛菜だよ
              </div>
            </li>
            <li class="">
                <div class="">
                  <img src="/assets/aoi_miyazaki.png" width="250" height="250" alt="">
                </div>
                <div class="how_to_list_number">
                  2.
                </div>
              <div class="how_to_list_text">
                芦田愛菜だよ
              </div>
            </li>

            <li class="">
                <div class="">
                  <img src="/assets/aoi_miyazaki.png" width="250" height="250" alt="">
                </div>
                <div class="how_to_list_number">
                  3.
                </div>
                <div class="how_to_list_text">
                  芦田愛菜だよ
                </div>
            </li>
            <li class="">
                <div class="">
                  <img src="/assets/aoi_miyazaki.png" width="250" height="250" alt="">
                </div>
                <div class="how_to_list_number">
                  4.
                </div>
              <div class="how_to_list_text">
                芦田愛菜だよ
              </div>
            </li>
          </ul>
        </div>
    </div>
    </div>
  </div>




  <div class="price">
    <div class="price_content">
      <div class="price_title">
        <h1>月額プラン</h1>
      </div>
      <div class="price_table">
        <img src="assets/price_pink3.png" width="402" height="406" alt="会員制プラン">
        <img src="assets/price_blue3.png" width="402" height="406" alt="お試しプラン">
      </div>
    </div>
  </div>
</div>

<div class="footer">
</div>
