
<!-- トップページのコンテンツ -->
<div class="contents">

  <div class="global_nav">
    <!-- <img src="images/heart_yasu.png" height="40" width="40" alt=""> -->
    <div class="inner">
      <ul>
        <li><a href="">トップページ</a></li>
        <li><img src="assets/nav_line.png" width="2" height="40" alt=""><a href="">スタイルカタログ</a></li>
        <li><img src="assets/nav_line.png" width="2" height="40" alt=""><a href="">アイテムリスト</a></li>
        <li><img src="assets/nav_line.png" width="2" height="40" alt=""><a href="">お気に入りのリスト</a></li>
      </ul>
    </div>

  </div>

  <div id="image-bloc">
    <div class="main-container">
      <ul class="slider">
    		<li class="slide"><img src="assets/0913.jpg" width="1170" height="781" alt=""></li>
    		<li class="slide"><img src="assets/0431.jpg" width="1170" height="781" alt=""></li>
    		<li class="slide"><img src="assets/0848.jpg" width="1170" height="781" alt=""></li>
        <li class="slide"><img src="assets/0410.jpg" width="1170" height="781" alt=""></li>
        <li class="slide"><img src="assets/1040.jpg" width="1170" height="781" alt=""></li>
  	  </ul>
    </div>
  </div>


<div class="about">
  <div class="about_content">
  <div class="about_title">
    <h1>PenGuinBabyとは？</h1>
  </div>
  <div class="about_sentence">
    <p>「子供の成長が早く、お気に入りの子供服のサイズがすぐに合わなくなってしまった。」という経験をされたことはないでしょうか？</p>
<p>PenGuinBabyでは、<br>子供服のファッションレンタルサービスを通して多くの方々に成長の問題を気にせず、子供のオシャレを楽しんでもらいたいと考えております。</p>
洋服選びで、「子供の成長」はもう問題ではありません。<br>
ファションレンタルで子供とオシャレを楽しもう。
</p>
  </div>
</div>
</div>

<div class="strength">
  <div class="strength_content">
  <div class="strength_title">
    <h1>PenGuinBabyのこだわり</h1>
  </div>
  <div class="strength_sentence">
    <ul>
      <li><a href="">1.Japan made, High Quality </a></li>
      <li><a href="">2.</a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</div>
</div>

  <div class="how_to">
    <div class="how_to_content">
    <div class="how_to_title">
      <h1>ご利用の手順</h1>
    </div>
    <div class="how_to_picture">
      <ol>
        <li><img src="">あなたのためにスタイルリストが<br>選んだ服が３着入ったボックスが<br>届きます。</li>
        <li><img src="">返却期限はありません。<br>好きなだけ着合わせやお出かけ<br>を楽しんでください。</li>
        <li><img src="">着終わったら返却するだけ。<br>クリーニング不要、送料無料で<br>簡単。</li>
        <li><img src="">次に来る服がもっとお気に入り<br>になるよう、スタイリストに感<br>想を送ってください。</li>
      </ol>
    </div>
    </div>
  </div>




  <div class="price">
    <div class="price_content">
      <div class="price_title">
        <h1>月額プラン</h1>
      </div>
      <div class="price_table">
        <img src="assets/price_pink3.png" width="402" height="406" alt="会員制プラン">
        <img src="assets/price_blue3.png" width="402" height="406" alt="お試しプラン">
      </div>
    </div>
  </div>
</div>

<div class="footer">
</div>
