html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  // background-image: image-url("mizutama_fotor.jpg");
  // -moz-background-size:100% auto;
  // background-size:100% auto;
}
h1 {
  text-align: center;
  color: #FF1A6F;
  font-size: 46px;
  font-family: "yellow peas demo","Chogokuboso Gothic";
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
/*topのコンテンツはここから*/
.contents {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

/*.main_picture{
  width: auto;
  height: 585px;
  margin: 0;
  padding: 0;
}*/
/*.bxslider {
  width: 100%;
  height: 585px;
  margin: 0 auto;
}*/


/*.main_picture img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}*/

.global_nav {
  margin: 8 auto;
  width: auto;
  clear: both;
  overflow: hidden;
  height: 40px;
  background-color: white;
}

.inner{
  width: 880px;
  height: 36px;
  margin: 0 auto;
  background-color: white;
}
.global_nav img {
  float:left;
  margin: 0;
  padding: 0;

}

.global_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}
.global_nav ul li {
  width: 220px;
  float: left;
  text-align: center;
  margin: 0 auto;


}

.global_nav ul li a {
  display: block;
  padding-top: 8px;
  font-size: 18px;
  text-decoration: none;
  color: #EE0000;
  /*border-left: 1px solid #EE0000;*/
  font-family: "HannariMincho";
}





.global_nav ul li a:hover{
  font-size: 19px;
  height: 36px;


  color: #CC0000;
}

.about {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  clear: both;
}

.about img {
  float: left;
  margin-left: 80px;
  margin-top: 20px;
}

.about_content {
  margin: 0 auto;
  width: 800px;
}



.about_title {
  margin: 0 auto;
  padding-top: 15px;

}

.about_sentence {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  font-size: 18px;
  color: #696969;
  margin-top: 20px;
  line-height: 30px;
}

.strength{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.strength_content {
  width: 100%;
  background-color:rgba(255,255,255,0.8);
}


.strength_title {
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.strength_sentence {
  width: 900px;
  height: 400px;
  margin: 0 auto;
}


.strength_sentence ul {
 margin: 0;
 padding: 0;
}

.strength_sentence ul li {
  float: left;
  list-style: none;
  margin-top: 40px;
  margin-left: 50px;
}

.strength_sentence ul li img {
  margin: 10;
}

.strength_sentence_number {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}

.strength_sentence_text {
  text-align: center;
  margin-top: 18px;
  margin-left: 20px;
  float: left;
}

.how_to {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.how_to_title{
  height: 50px;
  width: 1024px;
  margin: 0 auto;
}

.how_to_list {
  width: 1024px;
  margin: 0 auto;
}

.how_to_list_img ul {
 margin: 0;
 padding: 0;
}

.how_to_list_img ul li {
  float: left;
  list-style: none;
  margin-top: 40px;
  margin-left: 50px;
}

.how_to_list_img ul li img {
  width: 200px;
  height: 200px;
  margin: 10;
}

.how_to_list_number {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}

.how_to_list_text {
  text-align: center;
  margin-top: 18px;
  margin-left: 20px;
  float: left;
}


.price {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.price_content {

  width: 900px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color:rgba(255,255,255,0.7);
}

.price_title {
  width: 900px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
}

.price_table {
  width: 1024px;
  height: 550px;
  clear: both;
  display: block;
  margin-top: 60px;
}
.price_table img {
  float: left;
  margin-left: 38px;
}

.footer {
  width: auto;
  height: 200px;
  background-color: blue;
}


// ここからclosetのページ
.closet_contents {
  width: 100%;
  height: 100%;
}

.closet_description {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.closet_title {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-top: 50px;
}

.closet_sentence {
  width: 100%;
  height: 80px;
}

.background_image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-image:url("/assets/wood5.jpg");
}

.closet_imgs {
  margin: 0 auto;
  width: 1080px;
  height: 100%;
}
.closet_imgs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.closet_imgs ul li {

}

.closet_imgs ul li img {
  width: 240px;
  height: 240px;
  float: left;
  margin: 10px 10px 10px 10px;
}
// CatalogのCSSはここから
.catalog {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.style_picture {
  margin: 0 auto;
  width: 100%;
  height: 0 auto;
}

.gallery {
  width: 100%;
}

.gallery  ul {
  list-style: none;
  width: 1080px;
  margin:  0 auto;
  padding: 0 auto;
}

.gallery ul li  {
  width: 330px;
  height: 400px;
  margin: 5px 5px 5px 5px;


  display: inline-block;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.gallery ul li:nth-child(3n) {
  margin-right: 0;
}

.gallery ul li img {
  width: 330px;
  height:400px;
  margin: 0;
  display: block;
  float: left;
}
