html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  // background-image: image-url("mizutama_fotor.jpg");
  // -moz-background-size:100% auto;
  // background-size:100% auto;
}
h1 {
  text-align: center;
  color: #FF1A6F;
  font-size: 38px;
  font-family: "Comic Sans MS","Meiryo";
}
/*topのコンテンツはここから*/
.contents {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

/*.main_picture{
  width: auto;
  height: 585px;
  margin: 0;
  padding: 0;
}*/
/*.bxslider {
  width: 100%;
  height: 585px;
  margin: 0 auto;
}*/


/*.main_picture img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}*/

.global_nav {
  margin: 8 auto;
  width: auto;
  clear: both;
  overflow: hidden;
  height: 40px;
  background-color: white;
}

.inner{
  width: 880px;
  height: 36px;
  margin: 0 auto;
  background-color: white;
}
.global_nav img {
  float:left;
  margin: 0;
  padding: 0;

}

.global_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}
.global_nav ul li {
  width: 220px;
  float: left;
  text-align: center;
  margin: 0 auto;


}

.global_nav ul li a {
  display: block;
  padding-top: 8px;
  font-size: 18px;
  text-decoration: none;
  color: #EE0000;
  /*border-left: 1px solid #EE0000;*/
  font-family: "HannariMincho";
}





.global_nav ul li a:hover{
  font-size: 19px;
  height: 36px;


  color: #CC0000;
}

.about {
  width: 100%;
  height: 100%;
  margin-top: 140px;
  clear: both;
}

.about img {
  float: left;
  margin-left: 80px;
  margin-top: 20px;
}

.about_content {
  margin: 0 auto;
  width: 800px;
}



.about_title {
  margin: 0 auto;
  padding-top: 15px;

}

.about_sentence {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  font-size: 18px;
  color: #696969;
  margin-top: 20px;
  line-height: 30px;
}

.strength{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.strength_content {
  width: 100%;
  background-color:rgba(255,255,255,0.8);
}


.strength_title {
  width: 1024px;
  height: 50px;
  margin: 0 auto;
}

.strength_sentence {
  width: auto;
  height: 400px;
  background-color: orange;
  margin: 0 auto;
}


.how_to {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
.how_to_title{
  height: 50px;
  width: 1024px;
  margin: 0 auto;
}

.how_to_picture {
  height: 400px;
  width: 1024px;
  background-color: yellow;
  margin: 0 auto;
}
.how_to_picture ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


.price {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.price_content {

  width: 900px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color:rgba(255,255,255,0.7);
}

.price_title {
  width: 900px;
  height: 50px;
  padding-top: 10px;
  text-align: center;
}

.price_table {
  width: 1024px;
  height: 550px;
  clear: both;
  display: block;
  margin-top: 60px;
}
.price_table img {
  float: left;
  margin-left: 38px;
}

.footer {
  width: auto;
  height: 200px;
  background-color: blue;
}

// CatalogのCSSはここから
.style {
  width: 980px;
}

.style_picture {
  margin: 0 auto;
  clear: both;
}

.style_picture img {
  width: 360px;
  height: 500px;

}
