<!DOCTYPE html>
<html>
<head>
  <title>Penguinbaby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="jquery.bxslider/jquery.bxslider.min.js"></script>
  <script type="text/javascript">
          $(document).ready(function(){
              $('.slider').bxSlider({
                  auto: true,
              });
        });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
